:root {
    --bg-color: #eee;
    --bg-color-nav-footer: #F8F9FA;
    --text-color: #212529;
    --transition: color 0.1s, background-color 0.2s ease-in-out;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: var(--transition);
}

body.dark {
    --text-color: #fff;
    --bg-color: #25292C;
    --bg-color-nav-footer: #343A40;
}

img{
    display: block;
    max-width: 100%;
}

/* -----------------header----------------- */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 1.5em;
    background-color: var(--bg-color-nav-footer);
    position: sticky;
    top: 0;
}

.header__logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    font-weight: 600;
}

.toggle-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle-theme__icon {
    margin-right: 0.5em;
    font-size: 1em;
}

.toggle-theme__text {
    font-size: 1rem;
    display: none;
}

/* -----------------main----------------- */
main{
    margin: 2em;
    height: 75vh;
    background-color: coral;
}

main .container{
    display: flex;
    flex-direction: column;
    background-color: royalblue;
    height: 100%;
}

.main-col{
    /* align-items: center;
    justify-content: center;
    height: auto; */
    height: 50%;
}

.main-col--1{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-col--2{
    background-color: red;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-top: 15px; */
}

.main-col__container{
    background-color: var(--bg-color);
    border-radius: 0.5em;
}

.container__buttons{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.container__buttons button{
    display: block;
    max-width: 100%;
}

.img-example{
    display: none;
}

textarea{
    width: 100%;
    resize: none;
    /* height: 25vh; */
}

/* -----------------footer----------------- */
footer {
    margin-top: auto;
    background-color: var(--bg-color-nav-footer);
    padding-top: 1em;
    padding-bottom: 1em;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
}

.footer-col, .main-col{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container p{
    text-align: center;
    padding-top: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}

.footerText__link:hover{
    color: #00ADB5;
}

.container__icons{
    margin: 1em 0;
    text-align: center;
}
.container__icons a{
    margin-right: 1em;
    margin-left: 1em;
}

.toggle-theme__icon-footer {
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.toggle-theme__icon-footer:hover{
    transform: scale(1.2);
}

/* como se vera la web cuando tenga 768px en ADELANTE */
@media screen and (min-width: 768px) {
    .toggle-theme__text{
        display: block;
    }

    .footer-col{
        width: 50%;
    }
}

/* como se vera la web cuando tenga 1200px en ADELANTE */
@media screen and (min-width: 1200px) {
    .footer-col{
        width: 25%;
    }
}